# ETL Project

In [1]:
# Importing Dependencies
import pandas as pd
import requests
import json

# The oscar winners data from Kaggle

In [2]:
# Read the Oscar winner csv into a DataFrame
oscars_file = pd.read_csv('oscars.csv', engine='python')
oscars_file.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2002-10-15 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454354,False,finalized,3,2002-10-15 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN
2,670454355,False,finalized,3,2002-10-15 2:05,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,All Quiet on the Western Front,Lewis Milestone,NaN,NaN,NaN,NaN
3,670454356,False,finalized,3,2002-10-15 2:04,"Chicago, Il",1.0,23-Feb-1899,1.0,White,...,Best Director,http://www.nndb.com/people/544/000041421/,NaN,NaN,Skippy,Norman Taurog,NaN,NaN,NaN,NaN
4,670454357,False,finalized,3,2002-10-15 1:48,"Salt Lake City, Ut",1.0,23-Apr-1894,1.0,White,...,Best Director,http://www.nndb.com/people/292/000044160/,NaN,NaN,Bad Girl,Frank Borzage,NaN,NaN,NaN,NaN

In [3]:
# Checking all the columns present in the Dataframe
oscars_file.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'birthplace', 'birthplace:confidence',
       'date_of_birth', 'date_of_birth:confidence', 'race_ethnicity',
       'race_ethnicity:confidence', 'religion', 'religion:confidence',
       'sexual_orientation', 'sexual_orientation:confidence', 'year_of_award',
       'year_of_award:confidence', 'award', 'biourl', 'birthplace_gold',
       'date_of_birth_gold', 'movie', 'person', 'race_ethnicity_gold',
       'religion_gold', 'sexual_orientation_gold', 'year_of_award_gold'],
      dtype='object')

In [4]:
# Dropping unwanted columns
oscars = oscars_file[['movie','person','award','year_of_award','birthplace','date_of_birth','biourl']]

In [5]:
# Bringing all the column names to lowercase and proper names
oscars.columns = [column.lower().replace('_','') for column in oscars.columns]
oscars

,movie,person,award,yearofaward,birthplace,dateofbirth,biourl
0,Two Arabian Knights,Lewis Milestone,Best Director,1927,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/
1,The Divine Lady,Frank Lloyd,Best Director,1930,"Glasgow, Scotland",2-Feb-1886,http://www.nndb.com/people/626/000042500/
2,All Quiet on the Western Front,Lewis Milestone,Best Director,1931,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/
3,Skippy,Norman Taurog,Best Director,1932,"Chicago, Il",23-Feb-1899,http://www.nndb.com/people/544/000041421/
4,Bad Girl,Frank Borzage,Best Director,1933,"Salt Lake City, Ut",23-Apr-1894,http://www.nndb.com/people/292/000044160/
...,...,...,...,...,...,...,...
436,The Constant Gardener,Rachel Weisz,Best Supporting Actress,2006,"London, England",07-Mar-71,http://www.nndb.com/people/309/000032213/
437,Slumdog Millionaire,Danny Boyle,Best Director,2009,"Manchester, England",20-Oct-56,http://www.nndb.com/people/887/000044755/
438,All the President's Men,Jason Robards,Best Supporting Actor,1977,"Chicago, Il",26-Jul-22,http://www.nndb.com/people/224/000032128/
439,Affliction,James Coburn,Best Supporting Actor,1999,"Laurel, Ne",31-Aug-28,http://www.nndb.com/people/764/000022698/
440,The Treasure of the Sierra Madre,John Huston,Best Director,1949,"Nevada, Mo",05-Aug-06,http://www.nndb.com/people/704/000024632/

In [6]:
# Splitting the person's name column into 2 columns of first and last name
oscars[['firstname','lastname']] = oscars['person'].loc[oscars['person'].str.split().str.len() == 2].str.split(expand=True)
oscars

C:\Users\vijay\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,movie,person,award,yearofaward,birthplace,dateofbirth,biourl,firstname,lastname
0,Two Arabian Knights,Lewis Milestone,Best Director,1927,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone
1,The Divine Lady,Frank Lloyd,Best Director,1930,"Glasgow, Scotland",2-Feb-1886,http://www.nndb.com/people/626/000042500/,Frank,Lloyd
2,All Quiet on the Western Front,Lewis Milestone,Best Director,1931,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone
3,Skippy,Norman Taurog,Best Director,1932,"Chicago, Il",23-Feb-1899,http://www.nndb.com/people/544/000041421/,Norman,Taurog
4,Bad Girl,Frank Borzage,Best Director,1933,"Salt Lake City, Ut",23-Apr-1894,http://www.nndb.com/people/292/000044160/,Frank,Borzage
...,...,...,...,...,...,...,...,...,...
436,The Constant Gardener,Rachel Weisz,Best Supporting Actress,2006,"London, England",07-Mar-71,http://www.nndb.com/people/309/000032213/,Rachel,Weisz
437,Slumdog Millionaire,Danny Boyle,Best Director,2009,"Manchester, England",20-Oct-56,http://www.nndb.com/people/887/000044755/,Danny,Boyle
438,All the President's Men,Jason Robards,Best Supporting Actor,1977,"Chicago, Il",26-Jul-22,http://www.nndb.com/people/224/000032128/,Jason,Robards
439,Affliction,James Coburn,Best Supporting Actor,1999,"Laurel, Ne",31-Aug-28,http://www.nndb.com/people/764/000022698/,James,Coburn
440,The Treasure of the Sierra Madre,John Huston,Best Director,1949,"Nevada, Mo",05-Aug-06,http://www.nndb.com/people/704/000024632/,John,Huston

In [7]:
# Obtaining the year of birth from the date of birth column
oscars['birthyear'] = oscars['dateofbirth'].str.split('-',expand=True)[2]
oscars

C:\Users\vijay\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,movie,person,award,yearofaward,birthplace,dateofbirth,biourl,firstname,lastname,birthyear
0,Two Arabian Knights,Lewis Milestone,Best Director,1927,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone,1895
1,The Divine Lady,Frank Lloyd,Best Director,1930,"Glasgow, Scotland",2-Feb-1886,http://www.nndb.com/people/626/000042500/,Frank,Lloyd,1886
2,All Quiet on the Western Front,Lewis Milestone,Best Director,1931,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone,1895
3,Skippy,Norman Taurog,Best Director,1932,"Chicago, Il",23-Feb-1899,http://www.nndb.com/people/544/000041421/,Norman,Taurog,1899
4,Bad Girl,Frank Borzage,Best Director,1933,"Salt Lake City, Ut",23-Apr-1894,http://www.nndb.com/people/292/000044160/,Frank,Borzage,1894
...,...,...,...,...,...,...,...,...,...,...
436,The Constant Gardener,Rachel Weisz,Best Supporting Actress,2006,"London, England",07-Mar-71,http://www.nndb.com/people/309/000032213/,Rachel,Weisz,71
437,Slumdog Millionaire,Danny Boyle,Best Director,2009,"Manchester, England",20-Oct-56,http://www.nndb.com/people/887/000044755/,Danny,Boyle,56
438,All the President's Men,Jason Robards,Best Supporting Actor,1977,"Chicago, Il",26-Jul-22,http://www.nndb.com/people/224/000032128/,Jason,Robards,22
439,Affliction,James Coburn,Best Supporting Actor,1999,"Laurel, Ne",31-Aug-28,http://www.nndb.com/people/764/000022698/,James,Coburn,28
440,The Treasure of the Sierra Madre,John Huston,Best Director,1949,"Nevada, Mo",05-Aug-06,http://www.nndb.com/people/704/000024632/,John,Huston,06

In [8]:
# Checking if any birth year has na in them
oscars.loc[oscars['birthyear'].isna()==True]

Empty DataFrame
Columns: [movie, person, award, yearofaward, birthplace, dateofbirth, biourl, firstname, lastname, birthyear]
Index: []

In [9]:
# Some years are only indicated by 2 digits so adding a prefix of 19 to them
oscars['birthyear'] = oscars['birthyear'].apply(lambda x: '19'+ x if len(x)==2 else x)
oscars

C:\Users\vijay\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,movie,person,award,yearofaward,birthplace,dateofbirth,biourl,firstname,lastname,birthyear
0,Two Arabian Knights,Lewis Milestone,Best Director,1927,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone,1895
1,The Divine Lady,Frank Lloyd,Best Director,1930,"Glasgow, Scotland",2-Feb-1886,http://www.nndb.com/people/626/000042500/,Frank,Lloyd,1886
2,All Quiet on the Western Front,Lewis Milestone,Best Director,1931,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone,1895
3,Skippy,Norman Taurog,Best Director,1932,"Chicago, Il",23-Feb-1899,http://www.nndb.com/people/544/000041421/,Norman,Taurog,1899
4,Bad Girl,Frank Borzage,Best Director,1933,"Salt Lake City, Ut",23-Apr-1894,http://www.nndb.com/people/292/000044160/,Frank,Borzage,1894
...,...,...,...,...,...,...,...,...,...,...
436,The Constant Gardener,Rachel Weisz,Best Supporting Actress,2006,"London, England",07-Mar-71,http://www.nndb.com/people/309/000032213/,Rachel,Weisz,1971
437,Slumdog Millionaire,Danny Boyle,Best Director,2009,"Manchester, England",20-Oct-56,http://www.nndb.com/people/887/000044755/,Danny,Boyle,1956
438,All the President's Men,Jason Robards,Best Supporting Actor,1977,"Chicago, Il",26-Jul-22,http://www.nndb.com/people/224/000032128/,Jason,Robards,1922
439,Affliction,James Coburn,Best Supporting Actor,1999,"Laurel, Ne",31-Aug-28,http://www.nndb.com/people/764/000022698/,James,Coburn,1928
440,The Treasure of the Sierra Madre,John Huston,Best Director,1949,"Nevada, Mo",05-Aug-06,http://www.nndb.com/people/704/000024632/,John,Huston,1906

In [10]:
# Splitting the countrry name from the birthplace column and placing it in a new column
oscars['country'] = oscars.birthplace.str.split(',').apply(lambda x:x[-1])
oscars

C:\Users\vijay\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,movie,person,award,yearofaward,birthplace,dateofbirth,biourl,firstname,lastname,birthyear,country
0,Two Arabian Knights,Lewis Milestone,Best Director,1927,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone,1895,Moldova
1,The Divine Lady,Frank Lloyd,Best Director,1930,"Glasgow, Scotland",2-Feb-1886,http://www.nndb.com/people/626/000042500/,Frank,Lloyd,1886,Scotland
2,All Quiet on the Western Front,Lewis Milestone,Best Director,1931,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone,1895,Moldova
3,Skippy,Norman Taurog,Best Director,1932,"Chicago, Il",23-Feb-1899,http://www.nndb.com/people/544/000041421/,Norman,Taurog,1899,Il
4,Bad Girl,Frank Borzage,Best Director,1933,"Salt Lake City, Ut",23-Apr-1894,http://www.nndb.com/people/292/000044160/,Frank,Borzage,1894,Ut
...,...,...,...,...,...,...,...,...,...,...,...
436,The Constant Gardener,Rachel Weisz,Best Supporting Actress,2006,"London, England",07-Mar-71,http://www.nndb.com/people/309/000032213/,Rachel,Weisz,1971,England
437,Slumdog Millionaire,Danny Boyle,Best Director,2009,"Manchester, England",20-Oct-56,http://www.nndb.com/people/887/000044755/,Danny,Boyle,1956,England
438,All the President's Men,Jason Robards,Best Supporting Actor,1977,"Chicago, Il",26-Jul-22,http://www.nndb.com/people/224/000032128/,Jason,Robards,1922,Il
439,Affliction,James Coburn,Best Supporting Actor,1999,"Laurel, Ne",31-Aug-28,http://www.nndb.com/people/764/000022698/,James,Coburn,1928,Ne
440,The Treasure of the Sierra Madre,John Huston,Best Director,1949,"Nevada, Mo",05-Aug-06,http://www.nndb.com/people/704/000024632/,John,Huston,1906,Mo

In [11]:
# Some elements in country column are states from US hence replacing them with the country United States
oscars['country'] = oscars['country'].apply(lambda x: 'United States of America' if len(x.strip())==2 else x.strip())
oscars

C:\Users\vijay\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,movie,person,award,yearofaward,birthplace,dateofbirth,biourl,firstname,lastname,birthyear,country
0,Two Arabian Knights,Lewis Milestone,Best Director,1927,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone,1895,Moldova
1,The Divine Lady,Frank Lloyd,Best Director,1930,"Glasgow, Scotland",2-Feb-1886,http://www.nndb.com/people/626/000042500/,Frank,Lloyd,1886,Scotland
2,All Quiet on the Western Front,Lewis Milestone,Best Director,1931,"Chisinau, Moldova",30-Sep-1895,http://www.nndb.com/people/320/000043191/,Lewis,Milestone,1895,Moldova
3,Skippy,Norman Taurog,Best Director,1932,"Chicago, Il",23-Feb-1899,http://www.nndb.com/people/544/000041421/,Norman,Taurog,1899,United States of America
4,Bad Girl,Frank Borzage,Best Director,1933,"Salt Lake City, Ut",23-Apr-1894,http://www.nndb.com/people/292/000044160/,Frank,Borzage,1894,United States of America
...,...,...,...,...,...,...,...,...,...,...,...
436,The Constant Gardener,Rachel Weisz,Best Supporting Actress,2006,"London, England",07-Mar-71,http://www.nndb.com/people/309/000032213/,Rachel,Weisz,1971,England
437,Slumdog Millionaire,Danny Boyle,Best Director,2009,"Manchester, England",20-Oct-56,http://www.nndb.com/people/887/000044755/,Danny,Boyle,1956,England
438,All the President's Men,Jason Robards,Best Supporting Actor,1977,"Chicago, Il",26-Jul-22,http://www.nndb.com/people/224/000032128/,Jason,Robards,1922,United States of America
439,Affliction,James Coburn,Best Supporting Actor,1999,"Laurel, Ne",31-Aug-28,http://www.nndb.com/people/764/000022698/,James,Coburn,1928,United States of America
440,The Treasure of the Sierra Madre,John Huston,Best Director,1949,"Nevada, Mo",05-Aug-06,http://www.nndb.com/people/704/000024632/,John,Huston,1906,United States of America

In [12]:
# Checking for the all the countries from the above table
oscars['country'].unique()

array(['Moldova', 'Scotland', 'United States of America', 'Italy',
       'France', 'Hungary', 'New York City', 'Austria', 'Turkey',
       'England', 'Germany', 'Japan', 'Czechoslovakia', 'Canada',
       'New Zealand', 'Taiwan', 'Switzerland', 'Ukraine', 'Wales',
       'Puerto Rico', 'Russia', 'Australia', 'Ireland', 'Mexico',
       'Romania', 'Cambodia', 'Canary Islands', 'India', 'Sweden',
       'Belgium', 'South Africa', 'Israel', 'Greece', 'Spain'],
      dtype=object)

In [13]:
# Replacing some of the country names to make it more specific country names to match with ISO codes
oscars['country'].replace(to_replace = 'New York City',value ='United States of America', inplace=True)
oscars['country'].replace(to_replace = ['Scotland','England','Wales'],value ='United Kingdom', inplace=True)
oscars['country'].replace(to_replace = 'Czechoslovakia',value ='Czechia', inplace=True)

C:\Users\vijay\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [14]:
oscars['country'].unique()

array(['Moldova', 'United Kingdom', 'United States of America', 'Italy',
       'France', 'Hungary', 'Austria', 'Turkey', 'Germany', 'Japan',
       'Czechia', 'Canada', 'New Zealand', 'Taiwan', 'Switzerland',
       'Ukraine', 'Puerto Rico', 'Russia', 'Australia', 'Ireland',
       'Mexico', 'Romania', 'Cambodia', 'Canary Islands', 'India',
       'Sweden', 'Belgium', 'South Africa', 'Israel', 'Greece', 'Spain'],
      dtype=object)

In [15]:
oscars = oscars[['movie','firstname','lastname','award','yearofaward','country','birthyear','biourl']]
oscars

,movie,firstname,lastname,award,yearofaward,country,birthyear,biourl
0,Two Arabian Knights,Lewis,Milestone,Best Director,1927,Moldova,1895,http://www.nndb.com/people/320/000043191/
1,The Divine Lady,Frank,Lloyd,Best Director,1930,United Kingdom,1886,http://www.nndb.com/people/626/000042500/
2,All Quiet on the Western Front,Lewis,Milestone,Best Director,1931,Moldova,1895,http://www.nndb.com/people/320/000043191/
3,Skippy,Norman,Taurog,Best Director,1932,United States of America,1899,http://www.nndb.com/people/544/000041421/
4,Bad Girl,Frank,Borzage,Best Director,1933,United States of America,1894,http://www.nndb.com/people/292/000044160/
...,...,...,...,...,...,...,...,...
436,The Constant Gardener,Rachel,Weisz,Best Supporting Actress,2006,United Kingdom,1971,http://www.nndb.com/people/309/000032213/
437,Slumdog Millionaire,Danny,Boyle,Best Director,2009,United Kingdom,1956,http://www.nndb.com/people/887/000044755/
438,All the President's Men,Jason,Robards,Best Supporting Actor,1977,United States of America,1922,http://www.nndb.com/people/224/000032128/
439,Affliction,James,Coburn,Best Supporting Actor,1999,United States of America,1928,http://www.nndb.com/people/764/000022698/
440,The Treasure of the Sierra Madre,John,Huston,Best Director,1949,United States of America,1906,http://www.nndb.com/people/704/000024632/

# Extracting ISO Codes From Wikipedia by webscraping

In [16]:
# The wikipedia url used for webscraping 
url = 'https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2'

In [17]:
# Scraping the url for tables
tables = pd.read_html(url)
tables

[   Short name                                          Long name  \
 0  ISO 3166-2                        Country subdivision code[1]
 1    ISO 3901    International Standard Recording Code (ISRC)[2]
 2    ISO 4217                                   Currency code[3]
 3    ISO 6166  International Securities Identifying Number (I...
 4    ISO 9362                        Bank Identifier Codes (BIC)
 5   ISO 13616        International Bank Account Number (IBAN)[6]
 6   ISO 15511  International Standard Identifier for Librarie...
 7   UN/LOCODE  United Nations Code for Trade and Transport Lo...

                                              Comment
 0                                                NaN
 1                                                NaN
 2                                                NaN
 3                                                NaN
 4                       Also known as SWIFT codes[5]
 5                                                NaN
 6                                                NaN
 7  Implemented by the United Nations Economic Com...  ,
                0              1   \
 0              AA             AB
 1              BA             BB
 2              CA             CB
 3              DA             DB
 4              EA             EB
 5              FA             FB
 6              GA             GB
 7              HA             HB
 8              IA             IB
 9              JA             JB
 10             KA             KB
 11             LA             LB
 12             MA             MB
 13            NaN             NB
 14             OA             OB
 15             PA             PB
 16             QA             QB
 17             RA             RB
 18             SA             SB
 19             TA             TB
 20             UA             UB
 21             VA             VB
 22             WA             WB
 23             XA             XB
 24             YA             YB
 25             ZA             ZB
 26  Colour legend  Colour legend
 27        242/676        242/676
 28          7/676          7/676
 29         43/676         43/676
 30         12/676         12/676
 31         30/676         30/676
 32          7/676          7/676
 33         14/676         14/676
 34        321/676        321/676

                                                    2   \
 0                                                  AC
 1                                                  BC
 2                                                  CC
 3                                                  DC
 4                                                  EC
 5                                                  FC
 6                                                  GC
 7                                                  HC
 8                                                  IC
 9                                                  JC
 10                                                 KC
 11                                                 LC
 12                                                 MC
 13                                                 NC
 14                                                 OC
 15                                                 PC
 16                                                 QC
 17                                                 RC
 18                                                 SC
 19                                                 TC
 20                                                 UC
 21                                                 VC
 22                                                 WC
 23                                                 XC
 24                                                 YC
 25                                                 ZC
 26                                      Colour legend
 27  Officially assigned: assigned to a country, te...
 28  Officially assigned: formerly assigned to a di...
 29  User-assigned: free for assignment at the disp...
 30  Exceptionally reserved: reserved on request fo...
 31  Indeterminately reserved: used in coding syste...
 32  Transitionally reserved: deleted from ISO 3166...
 33         Deleted: deleted and free for reassignment
 34  Unassigned: free for assignment by the ISO 316...

                                                    3   \
 0                                                  AD
 1                                                  BD
 2                                                  CD
 3                                                  DD
 4                                                  ED
 5                                                  FD
 6                                                  GD
 7                                                  HD
 8                                                  ID
 9                                                  JD
 10                                                 KD
 11                                                 LD
 12                                                 MD
 13                                                 ND
 14                                                 OD
 15                                                 PD
 16                                                 QD
 17                                                 RD
 18                                                 SD
 19                                                 TD
 20                                                 UD
 21                                                 VD
 22                                                 WD
 23                                                 XD
 24                                                 YD
 25                                                 ZD
 26                                      Colour legend
 27  Officially assigned: assigned to a country, te...
 28  Officially assigned: formerly assigned to a di...
 29  User-assigned: free for assignment at the disp...
 30  Exceptionally reserved: reserved on request fo...
 31  Indeterminately reserved: used in coding syste...
 32  Transitionally reserved: deleted from ISO 3166...
 33         Deleted: deleted and free for reassignment
 34  Unassigned: free for assignment by the ISO 316...

                                                    4   \
 0                                                  AE
 1                                                  BE
 2                                                  CE
 3                                                  DE
 4                                                  EE
 5                                                  FE
 6                                                  GE
 7                                                  HE
 8                                                  IE
 9                                                  JE
 10                                                 KE
 11                                                 LE
 12                                                 ME
 13                                                 NE
 14                                                 OE
 15                                                 PE
 16                                                 QE
 17                                                 RE
 18                                                 SE
 19                                                 TE
 20                                                 UE
 21                                                 VE
 22                                                 WE
 23                                                 XE
 24                                                 YE
 25                                                 ZE
 26                                      Colour legend
 27  Officially assigned: assigned to a country, te...
 28  Officially assigned: formerly assigned to a di...
 29  User-assigned: free for assignment at the disp...
 30  Exceptionally reserved: reserved on request fo...
 31  Indeterminately reserved: used in coding syste...
 32  Transitionally reserved: deleted from ISO 3166...
 33         Deleted: deleted and free for reassignment
 34  Unassigned: free for assignment by the ISO 316...

                                                    5   \
 0                                                  AF
 1                                                  BF
 2                                                  CF
 3                                                  DF
 4                                                  EF
 5                                                  FF
 6                                                  GF
 7                                                  HF
 8                                                  IF
 9                                                  JF
 10                                                 KF
 11                                                 LF
 12                                                 MF
 13                                                 NF
 14                                                 OF
 15                                                 PF
 16                                                 QF
 17                                                 RF
 18                                                 SF
 19                                                 TF
 20                                                 UF
 21                                                 VF
 22                                                 WF
 23                                                 XF
 24                                                 YF
 25                                                 ZF
 26                                      Colour legend
 27  Officially assigned: assigned to a country, te...
 28  Officially assigned: formerly assigned to a di...
 29  User-assigned: free for assignment at the disp...
 30  Exceptionally reserved: reserved on request fo...
 31  Indeterminately reserved: used in coding syste...
 32  Transitionally reserved: deleted from ISO 3166...
 33         Deleted: deleted and free for reassignment
 34  Unassigned: free for assignment by the ISO 316...

                                                    6   \
 0                                                  AG
 1                                                  BG
 2                                                  CG
 3                                                  DG
 4                                                  EG
 5                                                  FG
 6                                                  GG
 7                                                  HG
 8                                                  IG
 9                                                  JG
 10                                                 KG
 11                                                 LG
 12                                                 MG
 13                                                 NG
 14                                                 OG
 15                                                 PG
 16                                                 QG
 17                                                 RG
 18                                                 SG
 19                                                 TG
 20                                                 UG
 21                                                 VG
 22                                                 WG
 23                                                 XG
 24                                                 YG
 25                                                 ZG
 26                                      Colour legend
 27  Officially assigned: assigned to a country, te...
 28  Officially assigned: formerly assigned to a di...
 29  User-assigned: free for assignment at the disp...
 30  Exceptionally reserved: reserved on request fo...
 31  Indeterminately reserved: used in coding syste...
 32  Transitionally reserved: deleted from ISO 3166...
 33         Deleted: deleted and free for reassignment
 34  Unassigned: free for assignment by the ISO 316...

                                                    7   \
 0                                                  AH
 1                                                  BH
 2                                                  CH
 3                                                  DH
 4                                                  EH
 5                                                  FH
 6                                                  GH
 7                                                  HH
 8                                                  IH
 9                                                  JH
 10                                                 KH
 11                                                 LH
 12                                                 MH
 13                                                 NH
 14                                                 OH
 15                                                 PH
 16                                                 QH
 17                                                 RH
 18                                                 SH
 19                                                 TH
 20                                                 UH
 21                                                 VH
 22                                                 WH
 23                                                 XH
 24                                                 YH
 25                                                 ZH
 26                                      Colour legend
 27  Officially assigned: assigned to a country, te...
 28  Officially assigned: formerly assigned to a di...
 29  User-assigned: free for assignment at the disp...
 30  Exceptionally reserved: reserved on request fo...
 31  Indeterminately reserved: used in coding syste...
 32  Transitionally reserved: deleted from ISO 3166...
 33         Deleted: deleted and free for reassignment
 34  Unassigned: free for assignment by the ISO 316...

                                                    8   \
 0                                                  AI
 1                                                  BI
 2                                                  CI
 3                                                  DI
 4                                                  EI
 5                                                  FI
 6                                                  GI
 7                                                  HI
 8                                                  II
 9                                                  JI
 10                                                 KI
 11                                                 LI
 12                                                 MI
 13                                                 NI
 14                                                 OI
 15                                                 PI
 16                                                 QI
 17                                                 RI
 18                                                 SI
 19                                                 TI
 20                                                 UI
 21                                                 VI
 22                                                 WI
 23                                                 XI
 24                                                 YI
 25                                                 ZI
 26                                      Colour legend
 27  Officially assigned: assigned to a country, te...
 28  Officially assigned: formerly assigned to a di...
 29  User-assigned: free for assignment at the disp...
 30  Exceptionally reserved: reserved on request fo...
 31  Indeterminately reserved: used in coding syste...
 32  Transitionally reserved: deleted from ISO 3166...
 33         Deleted: deleted and free for reassignment
 34  Unassigned: free for assignment by the ISO 316...

                                                    9   ...  \
 0                                                  AJ  ...
 1                                                  BJ  ...
 2                                                  CJ  ...
 3                                                  DJ  ...
 4                                                  EJ  ...
 5                                                  FJ  ...
 6                                                  GJ  ...
 7                                                  HJ  ...
 8                                                  IJ  ...
 9                                                  JJ  ...
 10                                                 KJ  ...
 11                                                 LJ  ...
 12                                                 MJ  ...
 13                                                 NJ  ...
 14                                                 OJ  ...
 15                                                 PJ  ...
 16                                                 QJ  ...
 17                                                 RJ  ...
 18                                                 SJ  ...
 19                                                 TJ  ...
 20                                                 UJ  ...
 21                                                 VJ  ...
 22                                                 WJ  ...
 23                                                 XJ  ...
 24                                                 YJ  ...
 25                                                 ZJ  ...
 26                                      Colour legend  ...
 27  Officially assigned: assigned to a country, te...  ...
 28  Officially assigned: formerly assigned to a di...  ...
 29  User-assigned: free for assignment at the disp...  ...
 30  Exceptionally reserved: reserved on request fo...  ...
 31  Indeterminately reserved: used in coding syste...  ...
 32  Transitionally reserved: deleted from ISO 3166...  ...
 33         Deleted: deleted and free for reassignment  ...
 34  Unassigned: free for assignment by the ISO 316...  ...

                                                    16  \
 0                                                  AQ
 1                                                  BQ
 2                                                  CQ
 3                                                  DQ
 4                                                  EQ
 5                                                  FQ
 6                                                  GQ
 7                                                  HQ
 8                                                  IQ
 9                                                  JQ
 10                                                 KQ
 11                                                 LQ
 12                                                 MQ
 13                                                 NQ
 14                                                 OQ
 15                                                 PQ
 16                                                 QQ
 17                                                 RQ
 18                                                 SQ
 19                                                 TQ
 20                                                 UQ
 21                                                 VQ
 22                                                 WQ
 23                                                 XQ
 24                                                 YQ
 25                                                 ZQ
 26                                      Colour legend
 27  Officially assigned: assigned to a country, te...

In [18]:
# Obtaining the correct table which gives us the Iso codes
df = tables[2]
df.head()

,Code,Country name (using title case),Year,ccTLD,ISO 3166-2,Notes
0,AD,Andorra,1974,.ad,ISO 3166-2:AD,NaN
1,AE,United Arab Emirates,1974,.ae,ISO 3166-2:AE,NaN
2,AF,Afghanistan,1974,.af,ISO 3166-2:AF,NaN
3,AG,Antigua and Barbuda,1974,.ag,ISO 3166-2:AG,NaN
4,AI,Anguilla,1985,.ai,ISO 3166-2:AI,AI previously represented French Afars and Issas

In [19]:
# Dropping unwanted columns
df = df[['Country name (using title case)','Code']]
df

    Country name (using title case) Code
0                           Andorra   AD
1              United Arab Emirates   AE
2                       Afghanistan   AF
3               Antigua and Barbuda   AG
4                          Anguilla   AI
..                              ...  ...
244                           Yemen   YE
245                         Mayotte   YT
246                    South Africa   ZA
247                          Zambia   ZM
248                        Zimbabwe   ZW

[249 rows x 2 columns]

In [20]:
# Changing the column names to more meaining full names
codes_table = df.rename(columns={'Country name (using title case)':'country','Code':'code'})
codes_table

                  country code
0                 Andorra   AD
1    United Arab Emirates   AE
2             Afghanistan   AF
3     Antigua and Barbuda   AG
4                Anguilla   AI
..                    ...  ...
244                 Yemen   YE
245               Mayotte   YT
246          South Africa   ZA
247                Zambia   ZM
248              Zimbabwe   ZW

[249 rows x 2 columns]

In [21]:
# Replacing some of the country names with meaningful names to match other data
codes_table.loc[codes_table.country.str.contains('Moldova')== True,'country'] = 'Moldova'
codes_table.loc[codes_table.country.str.contains('Taiwan')== True,'country'] = 'Taiwan'
codes_table.loc[codes_table.country.str.contains('Russia')== True,'country'] = 'Russia'
codes_table.loc[codes_table.country.str.contains('United Kingdom')== True,'country'] = 'United Kingdom'

In [22]:
# Adding row for canary islands as it is missing
codes_table.append({'country':'Canary Islands','code':'IC'}, ignore_index=True)

                  country code
0                 Andorra   AD
1    United Arab Emirates   AE
2             Afghanistan   AF
3     Antigua and Barbuda   AG
4                Anguilla   AI
..                    ...  ...
245               Mayotte   YT
246          South Africa   ZA
247                Zambia   ZM
248              Zimbabwe   ZW
249        Canary Islands   IC

[250 rows x 2 columns]

In [23]:
wiki = codes_table.copy()

# Country Code API Requests

In [24]:
# Testing the api for one country to see what info we can extract
url = " http://api.worldbank.org/v2/country/CA?format=json"
code_response = requests.get(url)
code_json = code_response.json()
code_json

[{'page': 1, 'pages': 1, 'per_page': '50', 'total': 1},
 [{'id': 'CAN',
   'iso2Code': 'CA',
   'name': 'Canada',
   'region': {'id': 'NAC', 'iso2code': 'XU', 'value': 'North America'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Ottawa',
   'longitude': '-75.6919',
   'latitude': '45.4215'}]]

In [25]:
# Creating a Dataframe to store the info
country_api = pd.DataFrame()
country_api['country'] = ""
country_api['code'] = ""
country_api['region'] = ""
country_api['incomelevel'] = ""
country_api['capitalcity'] = ""
country_api

Empty DataFrame
Columns: [country, code, region, incomelevel, capitalcity]
Index: []

In [26]:
# Getting the base url from the Api documentation
base_url = "http://api.worldbank.org/v2/country/"

In [27]:
# use iterrows to iterate through countries from the wiki table to obtain the relevant info
for index, row in wiki.iterrows():  
    
    try:
        # get country iso-code from the wiki table
        country_code = row['code']
        # assemble url and make API request
        query_url = base_url + country_code + "?format=json"
        print(f"Retrieving Results for Country {row['country']}.")
        response = requests.get(query_url).json()
        results = response[1]
        # Append the results to their respective columns
        country_api.loc[index, 'country'] = results[0]['name']
        country_api.loc[index, 'code'] = results[0]['iso2Code']
        country_api.loc[index, 'region'] = results[0]['region']['value']
        country_api.loc[index, 'incomelevel'] = results[0]['incomeLevel']['value']
        country_api.loc[index, 'capitalcity'] = results[0]['capitalCity']
        
    except (KeyError, IndexError,TypeError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Country Andorra.
------------
Retrieving Results for Country United Arab Emirates.
------------
Retrieving Results for Country Afghanistan.
------------
Retrieving Results for Country Antigua and Barbuda.
------------
Retrieving Results for Country Anguilla.
Missing field/result... skipping.
------------
Retrieving Results for Country Albania.
------------
Retrieving Results for Country Armenia.
------------
Retrieving Results for Country Angola.
------------
Retrieving Results for Country Antarctica.
Missing field/result... skipping.
------------
Retrieving Results for Country Argentina.
------------
Retrieving Results for Country American Samoa.
------------
Retrieving Results for Country Austria.
------------
Retrieving Results for Country Australia.
------------
Retrieving Results for Country Aruba.
------------
Retrieving Results for Country Ã…land Islands.
Missing field/result... skipping.
------------
Retrieving Results for Country Azerbaijan.
------------
Retrieving Results for Country Bosnia and Herzegovina.
------------
Retrieving Results for Country Barbados.
------------
Retrieving Results for Country Bangladesh.
------------
Retrieving Results for Country Belgium.
------------
Retrieving Results for Country Burkina Faso.
------------
Retrieving Results for Country Bulgaria.
------------
Retrieving Results for Country Bahrain.
------------
Retrieving Results for Country Burundi.
------------
Retrieving Results for Country Benin.
------------
Retrieving Results for Country Saint BarthÃ©lemy.
Missing field/result... skipping.
------------
Retrieving Results for Country Bermuda.
------------
Retrieving Results for Country Brunei Darussalam.
------------
Retrieving Results for Country Bolivia (Plurinational State of).
------------
Retrieving Results for Country Bonaire, Sint Eustatius and Saba.
Missing field/result... skipping.
------------
Retrieving Results for Country Brazil.
------------
Retrieving Results for Country Bahamas.
------------
Retrieving Results for Country Bhutan.
------------
Retrieving Results for Country Bouvet Island.
Missing field/result... skipping.
------------
Retrieving Results for Country Botswana.
------------
Retrieving Results for Country Belarus.
------------
Retrieving Results for Country Belize.
------------
Retrieving Results for Country Canada.
------------
Retrieving Results for Country Cocos (Keeling) Islands.
Missing field/result... skipping.
------------
Retrieving Results for Country Congo, Democratic Republic of the.
------------
Retrieving Results for Country Central African Republic.
------------
Retrieving Results for Country Congo.
------------
Retrieving Results for Country Switzerland.
------------
Retrieving Results for Country CÃ´te d'Ivoire.
------------
Retrieving Results for Country Cook Islands.
Missing field/result... skipping.
------------
Retrieving Results for Country Chile.
------------
Retrieving Results for Country Cameroon.
------------
Retrieving Results for Country China.
------------
Retrieving Results for Country Colombia.
------------
Retrieving Results for Country Costa Rica.
------------
Retrieving Results for Country Cuba.
------------
Retrieving Results for Country Cabo Verde.
------------
Retrieving Results for Country CuraÃ§ao.
------------
Retrieving Results for Country Christmas Island.
Missing field/result... skipping.
------------
Retrieving Results for Country Cyprus.
------------
Retrieving Results for Country Czechia.
------------
Retrieving Results for Country Germany.
------------
Retrieving Results for Country Djibouti.
------------
Retrieving Results for Country Denmark.
------------
Retrieving Results for Country Dominica.
------------
Retrieving Results for Country Dominican Republic.
------------
Retrieving Results for Country Algeria.
------------
Retrieving Results for Country Ecuador.
------------
Retrieving Results for Country Estonia.
------------
Retrieving Results for Country Egypt.
------------
Retrieving Results for Country Western Sahara.
Missing field/result... skipping.
------------
Retrieving Results for Country Eritrea.
------------
Retrieving Results for Country Spain.
------------
Retrieving Results for Country Ethiopia.
------------
Retrieving Results for Country Finland.
------------
Retrieving Results for Country Fiji.
------------
Retrieving Results for Country Falkland Islands (Malvinas).
Missing field/result... skipping.
------------
Retrieving Results for Country Micronesia (Federated States of).
------------
Retrieving Results for Country Faroe Islands.
------------
Retrieving Results for Country France.
------------
Retrieving Results for Country Gabon.
------------
Retrieving Results for Country United Kingdom.
------------
Retrieving Results for Country Grenada.
------------
Retrieving Results for Country Georgia.
------------
Retrieving Results for Country French Guiana.
Missing field/result... skipping.
------------
Retrieving Results for Country Guernsey.
Missing field/result... skipping.
------------
Retrieving Results for Country Ghana.
------------
Retrieving Results for Country Gibraltar.
------------
Retrieving Results for Country Greenland.
------------
Retrieving Results for Country Gambia.
------------
Retrieving Results for Country Guinea.
------------
Retrieving Results for Country Guadeloupe.
Missing field/result... skipping.
------------
Retrieving Results for Country Equatorial Guinea.
------------
Retrieving Results for Country Greece.
------------
Retrieving Results for Country South Georgia and the South Sandwich Islands.
Missing field/result... skipping.
------------
Retrieving Results for Country Guatemala.
------------
Retrieving Results for Country Guam.
------------
Retrieving Results for Country Guinea-Bissau.
------------
Retrieving Results for Country Guyana.
------------
Retrieving Results for Country Hong Kong.
------------
Retrieving Results for Country Heard Island and McDonald Islands.
Missing field/result... skipping.
------------
Retrieving Results for Country Honduras.
------------
Retrieving Results for Country Croatia.
------------
Retrieving Results for Country Haiti.
------------
Retrieving Results for Country Hungary.
------------
Retrieving Results for Country Indonesia.
------------
Retrieving Results for Country Ireland.
------------
Retrieving Results for Country Israel.
------------
Retrieving Results for Country Isle of Man.
------------
Retrieving Results for Country India.
------------
Retrieving Results for Country British Indian Ocean Territory.
Missing field/result... skipping.
------------
Retrieving Results for Country Iraq.
------------
Retrieving Results for Country Iran (Islamic Republic of).
------------
Retrieving Results for Country Iceland.
------------
Retrieving Results for Country Italy.
------------
Retrieving Results for Country Jersey.
Missing field/result... skipping.
------------
Retrieving Results for Country Jamaica.
------------
Retrieving Results for Country Jordan.
------------
Retrieving Results for Country Japan.
------------
Retrieving Results for Country Kenya.
------------
Retrieving Results for Country Kyrgyzstan.
------------
Retrieving Results for Country Cambodia.
------------
Retrieving Results for Country Kiribati.
------------
Retrieving Results for Country Comoros.
------------
Retrieving Results for Country Saint Kitts and Nevis.
------------
Retrieving Results for Country Korea (Democratic People's Republic of).
------------
Retrieving Results for Country Korea, Republic of.
------------
Retrieving Results for Country Kuwait.
------------
Retrieving Results for Country Cayman Islands.
------------
Retrieving Results for Country Kazakhstan.
------------
Retrieving Results for Country Lao People's Democratic Republic.
------------
Retrieving Results for Country Lebanon.
------------
Retrieving Results for Country Saint Lucia.
------------
Retrieving Results for Country Liechtenstein.
------------
Retrieving Results for Country Sri Lanka.
------------
Retrieving Results for Country Liberia.
------------
Retrieving Results for Country Lesotho.
------------
Retrieving Results for Country Lithuania.
------------
Retrieving Results for Country Luxembourg.

------------
Retrieving Results for Country Latvia.
------------
Retrieving Results for Country Libya.
------------
Retrieving Results for Country Morocco.
------------
Retrieving Results for Country Monaco.
------------
Retrieving Results for Country Moldova.
------------
Retrieving Results for Country Montenegro.
------------
Retrieving Results for Country Saint Martin (French part).
------------
Retrieving Results for Country Madagascar.
------------
Retrieving Results for Country Marshall Islands.
------------
Retrieving Results for Country North Macedonia.
------------
Retrieving Results for Country Mali.
------------
Retrieving Results for Country Myanmar.
------------
Retrieving Results for Country Mongolia.
------------
Retrieving Results for Country Macao.
------------
Retrieving Results for Country Northern Mariana Islands.
------------
Retrieving Results for Country Martinique.
Missing field/result... skipping.
------------
Retrieving Results for Country Mauritania.
------------
Retrieving Results for Country Montserrat.
Missing field/result... skipping.
------------
Retrieving Results for Country Malta.
------------
Retrieving Results for Country Mauritius.
------------
Retrieving Results for Country Maldives.
------------
Retrieving Results for Country Malawi.
------------
Retrieving Results for Country Mexico.
------------
Retrieving Results for Country Malaysia.
------------
Retrieving Results for Country Mozambique.
------------
Missing field/result... skipping.
------------
Retrieving Results for Country New Caledonia.
------------
Retrieving Results for Country Niger.
------------
Retrieving Results for Country Norfolk Island.
Missing field/result... skipping.
------------
Retrieving Results for Country Nigeria.
------------
Retrieving Results for Country Nicaragua.
------------
Retrieving Results for Country Netherlands.
------------
Retrieving Results for Country Norway.
------------
Retrieving Results for Country Nepal.
------------
Retrieving Results for Country Nauru.
------------
Retrieving Results for Country Niue.
Missing field/result... skipping.
------------
Retrieving Results for Country New Zealand.
------------
Retrieving Results for Country Oman.
------------
Retrieving Results for Country Panama.
------------
Retrieving Results for Country Peru.
------------
Retrieving Results for Country French Polynesia.
------------
Retrieving Results for Country Papua New Guinea.
------------
Retrieving Results for Country Philippines.
------------
Retrieving Results for Country Pakistan.
------------
Retrieving Results for Country Poland.
------------
Retrieving Results for Country Saint Pierre and Miquelon.
Missing field/result... skipping.
------------
Retrieving Results for Country Pitcairn.
Missing field/result... skipping.
------------
Retrieving Results for Country Puerto Rico.
------------
Retrieving Results for Country Palestine, State of.
------------
Retrieving Results for Country Portugal.
------------
Retrieving Results for Country Palau.
------------
Retrieving Results for Country Paraguay.
------------
Retrieving Results for Country Qatar.
------------
Retrieving Results for Country RÃ©union.
Missing field/result... skipping.
------------
Retrieving Results for Country Romania.
------------
Retrieving Results for Country Serbia.
------------
Retrieving Results for Country Russia.
------------
Retrieving Results for Country Rwanda.
------------
Retrieving Results for Country Saudi Arabia.
------------
Retrieving Results for Country Solomon Islands.
------------
Retrieving Results for Country Seychelles.
------------
Retrieving Results for Country Sudan.
------------
Retrieving Results for Country Sweden.
------------
Retrieving Results for Country Singapore.
------------
Retrieving Results for Country Saint Helena, Ascension and Tristan da Cunha.
Missing field/result... skipping.
------------
Retrieving Results for Country Slovenia.
------------
Retrieving Results for Country Svalbard and Jan Mayen.
Missing field/result... skipping.
------------
Retrieving Results for Country Slovakia.
------------
Retrieving Results for Country Sierra Leone.
------------
Retrieving Results for Country San Marino.
------------
Retrieving Results for Country Senegal.
------------
Retrieving Results for Country Somalia.
------------
Retrieving Results for Country Suriname.
------------
Retrieving Results for Country South Sudan.
------------
Retrieving Results for Country Sao Tome and Principe.
------------
Retrieving Results for Country El Salvador.
------------
Retrieving Results for Country Sint Maarten (Dutch part).
------------
Retrieving Results for Country Syrian Arab Republic.
------------
Retrieving Results for Country Eswatini.
------------
Retrieving Results for Country Turks and Caicos Islands.
------------
Retrieving Results for Country Chad.
------------
Retrieving Results for Country French Southern Territories.
Missing field/result... skipping.
------------
Retrieving Results for Country Togo.
------------
Retrieving Results for Country Thailand.
------------
Retrieving Results for Country Tajikistan.
------------
Retrieving Results for Country Tokelau.
Missing field/result... skipping.
------------
Retrieving Results for Country Timor-Leste.
------------
Retrieving Results for Country Turkmenistan.
------------
Retrieving Results for Country Tunisia.
------------
Retrieving Results for Country Tonga.
------------
Retrieving Results for Country Turkey.
------------
Retrieving Results for Country Trinidad and Tobago.
------------
Retrieving Results for Country Tuvalu.
------------
Retrieving Results for Country Taiwan.
------------
Retrieving Results for Country Tanzania, United Republic of.
------------
Retrieving Results for Country Ukraine.
------------
Retrieving Results for Country Uganda.
------------
Retrieving Results for Country United States Minor Outlying Islands.
Missing field/result... skipping.
------------
Retrieving Results for Country United States of America.
------------
Retrieving Results for Country Uruguay.
------------
Retrieving Results for Country Uzbekistan.
------------
Retrieving Results for Country Holy See.
Missing field/result... skipping.
------------
Retrieving Results for Country Saint Vincent and the Grenadines.
------------
Retrieving Results for Country Venezuela (Bolivarian Republic of).
------------
Retrieving Results for Country Virgin Islands (British).
------------
Retrieving Results for Country Virgin Islands (U.S.).
------------
Retrieving Results for Country Viet Nam.
------------
Retrieving Results for Country Vanuatu.
------------
Retrieving Results for Country Wallis and Futuna.
Missing field/result... skipping.
------------
Retrieving Results for Country Samoa.
------------
Retrieving Results for Country Yemen.
------------
Retrieving Results for Country Mayotte.
Missing field/result... skipping.
------------
Retrieving Results for Country South Africa.
------------
Retrieving Results for Country Zambia.
------------
Retrieving Results for Country Zimbabwe.
------------

In [28]:
# Displaiying the resulting dataframe from the Api requests
country_api

,country,code,region,incomelevel,capitalcity
0,Andorra,AD,Europe & Central Asia,High income,Andorra la Vella
1,United Arab Emirates,AE,Middle East & North Africa,High income,Abu Dhabi
2,Afghanistan,AF,South Asia,Low income,Kabul
3,Antigua and Barbuda,AG,Latin America & Caribbean,High income,Saint John's
5,Albania,AL,Europe & Central Asia,Upper middle income,Tirane
...,...,...,...,...,...
243,Samoa,WS,East Asia & Pacific,Upper middle income,Apia
244,"Yemen, Rep.",YE,Middle East & North Africa,Low income,Sana'a
246,South Africa,ZA,Sub-Saharan Africa,Upper middle income,Pretoria
247,Zambia,ZM,Sub-Saharan Africa,Lower middle income,Lusaka
248,Zimbabwe,ZW,Sub-Saharan Africa,Lower middle income,Harare

# Export Data to the Postgres Database

In [90]:
# Import dependencies
from sqlalchemy import create_engine

In [91]:
# Connec to the Database, please input username and password accordingly
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/oscar_country_db')
connection = engine.connect()

In [92]:
oscars.to_sql('oscars', connection, if_exists='replace',index=False)

In [93]:
wiki.to_sql('wiki', connection, if_exists='replace',index=False)

In [94]:
country_api.to_sql('country_api', connection, if_exists='replace',index=False)